<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400italic,700' rel='stylesheet' type='text/css'>
    <link media="all" rel="stylesheet" href="assets/css/main.css" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">
            <img src="assets/img/logo-bot.png" alt="" />
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/how-it-works.html">How it works?</a></li>
            <li><a href="" data-toggle="modal" data-target="#login">Login</a></li>
            <li><a href="" data-toggle="modal" data-target="#signup">Sign Up</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- .main -->
    <div class="main main--home">
        <!-- .started -->
        <div class="started">
            <!-- .container -->
            <div class="container">
                <!-- .row -->
                <div class="row">
                    <!-- .col -->
                    <div class="col-md-5">
                        <div class="head-border">
                            <div></div>
                        </div>
                        <h1>GET STARTED</h1>

                        <!-- .form-group -->
                        <div class="form-group form-group--remittance">
                            <label for="">You send:</label>

                            <div class="input-group">
                                  <input type="text" class="form-control" id="" placeholder="0.00" value="1.000">
                                  <div class="input-group-addon">
                                      <select id="" name="">
                                          <option value="">USD</option>
                                          <option value="">BRL</option>
                                          <option value="">VEF</option>
                                          <option value="">CNY</option>
                                      </select>
                                  </div>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <!-- .form-group -->
                        <div class="form-group form-group--remittance">
                            <label for="">Receive:</label>

                            <div class="input-group">
                                  <input type="text" class="form-control" id="" placeholder="0.00" value="3.370">
                                  <div class="input-group-addon">
                                      <select id="" name="">
                                          <option value="">USD</option>
                                          <option value="">BRL</option>
                                          <option value="">VEF</option>
                                          <option value="">CNY</option>
                                      </select>
                                  </div>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <button class="btn btn-success btn-block">TRANSFER NOW</button>

                        <br />

                        <button class="btn btn-default btn-block">Alert me when rate improves</button>
                        <br />

                        <p class="lead">You could save an average of R$91.05 vs your bank.
                            <br />
                            <a href="">How?</a>
                        </p>
                    </div>
                    <!-- /.col -->

                    <!-- .col -->
                    <div class="col-md-6 col-md-offset-1">
                        <div class="head-border">
                            <div></div>
                        </div>
                        <h1>THE FASTER AND MOST EFFICIENT WAY<br /> TO SEND MONEY</h1>
                        <p class="lead">Agents and banks charge you steep fees when you send money abroad. With VeloxTransfer you save up to 75%. Great, right?.</p>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.started -->

        <!-- .works -->
        <div class="works">
            <!-- .works__head -->
            <header class="works__head">
                <div class="head-border">
                    <div></div>
                </div>
                <h1>HOW IT WORKS</h1>
            </header>
            <!-- /.works__head -->

            <!-- .works__body -->
            <div class="works__body text-center">
                <a href="/how-it-works.html" class="works__play">
                    <img src="assets/img/play.png" alt="" />
                </a>
            </div>
            <!-- /.works__body -->
        </div>
        <!-- /.works -->

        <!-- .welcome -->
        <div class="welcome box">
            <!-- .container -->
            <div class="container">
                <div class="head-border">
                    <div></div>
                </div>
                <h1>WELCOME TO MONEY WITHOUT BORDERS</h1>

                <!-- .row -->
                <div class="row">
                    <!-- .col -->
                    <div class="col-md-4">
                        <h3 class="text-success"><strong>10 TIMES LOWER COST</strong></h3>
                        <p class="lead">
                            Banks charge 5% in hidden fees.
                            <br />
                            People on <em>VeloxTransfer</em> pay 0.5%.
                        </p>
                    </div>
                    <!-- /.col -->

                    <!-- .col -->
                    <div class="col-md-4">
                        <h3 class="text-success"><strong>FASTER, SIMPLER</strong></h3>
                        <p class="lead">
                            Tap in how much and where to.
                            <br />
                            Upload money, let the magic happen.
                        </p>
                    </div>
                    <!-- /.col -->

                    <!-- .col -->
                    <div class="col-md-4">
                        <h3 class="text-success"><strong>OUTSMART YOUR BANK</strong></h3>
                        <p class="lead">
                            A totally new way to beat the old system, founded on fairnes.
                        </p>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.welcome -->

        <!-- .trusted -->
        <div class="trusted box box--gray">
            <!-- .container -->
            <div class="container">
                <!-- .trusted-top -->
                <div class="trusted-top">
                    <!-- .row -->
                    <div class="row">
                        <!-- .col -->
                        <div class="col-md-6">
                            <div class="head-border">
                                <div></div>
                            </div>
                            <h1>TRUSTED ALL OVER THE WORLD</h1>
                            <p class="lead">No skyscrapers, no suits. Juts like-minded people everywhere, connected by <em>VeloxTransfer</em></p>
                        </div>
                        <!-- /.col -->

                        <!-- .col -->
                        <div class="col-md-5 col-md-offset-1">
                            <div class="head-border">
                                <div></div>
                            </div>
                            <h1>CHECK OUT ALL THE<br /> ROUTES AVAILABLE</h1>

                            <button class="btn btn-success btn-lg">
                                GET STARTED. TRANSFER NOW!
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.trusted-top -->

                <!-- .trusted-bot -->
                <div class="trusted-bot">
                    <!-- .row -->
                    <div class="row">
                        <!-- .col -->
                        <div class="col-md-12 text-center">
                            <h2 class="text-success">5/5 STAR RATING, 18739 INDEPENDENT REVIEWS</h2>
                            <p class="lead">It's your money. Only perfect is good enough. Read all the<br /> reviews at Trustpilot.co.uk</p>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.trusted-bot -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.trusted -->
    </div>
    <!-- /.main -->

<%- partial("_partials/footer") %>
