<%- partial("_partials/header") %>

    <!-- .main -->
    <div class="main">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col -->
                <div class="col-md-7">
                    <div class="head-border">
                        <div></div>
                    </div>
                    <h1>MY PROFILE</h1>

                    <form action="">
                        <!-- .row -->
                        <div class="row">
                            <!-- .col -->
                            <div class="col-lg-10">
                                <!-- .form-group -->
                                <div class="form-group">
                                    <label class="radio-inline">
                                      <input type="radio" id="inlineCheckbox1" value="option1"> Private
                                    </label>

                                    <label class="radio-inline">
                                      <input type="radio" id="inlineCheckbox1" value="option1"> Business
                                    </label>
                                </div>
                                <!-- /.form-group -->

                                <!-- .form-group -->
                                <div class="form-group">
                                    <label for="">Full Name:</label>
                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                </div>
                                <!-- /.form-group -->
                                <!-- .form-group -->
                                <div class="form-group">
                                    <label for="">Email:</label>
                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                </div>
                                <!-- /.form-group -->
                                <!-- .form-group -->
                                <div class="form-group">
                                    <label for="">Phone Number:</label>
                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                </div>
                                <!-- /.form-group -->
                                <!-- .form-group -->
                                <div class="form-group">
                                    <label for="">Address:</label>
                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                </div>
                                <!-- /.form-group -->

                                <!-- .row -->
                                <div class="row">
                                    <!-- .col -->
                                    <div class="col col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Number:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Complement:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <!-- .row -->
                                <div class="row">
                                    <!-- .col -->
                                    <div class="col col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Postal Code:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">City:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <!-- .form-group -->
                                <div class="form-group">
                                    <label for="">Country:</label>
                                    <select id="" name="" class="form-control">
                                        <option value="">Brazil</option>
                                        <option value="">United States</option>
                                        <option value="">Chile</option>
                                        <option value="">Venezuela</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->

                                <button class="btn btn-success btn-block">SAVE PROFILE</button>

                                <br />

                                <button class="btn btn-default btn-block">Cancel</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </form>
                </div>
                <!-- /.col -->

                <!-- .col -->
                <div class="col-md-5">
                    <%- partial("_partials/sidebar") %>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.main -->

<%- partial("_partials/footer") %>
