<%- partial("_partials/header") %>

    <!-- .main -->
    <div class="main">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col -->
                <div class="col-md-12">
                    <div class="head-border">
                        <div></div>
                    </div>
                    <h1>HOW MUCH WOULD YOU LIKE TO TRANSFER?</h1>
                </div>
                <!-- /.col -->

                <!-- .col -->
                <div class="col-md-5">
                    <!-- .well -->
                    <div class="well well--remittance">
                        <!-- .form-group -->
                        <div class="form-group form-group--remittance">
                            <label for="">You send:</label>

                            <div class="input-group">
                                  <input type="text" class="form-control form-control--noBorder" id="" placeholder="0.00" value="1.000">
                                  <div class="input-group-addon">
                                      <select id="" name="">
                                          <option value="">USD</option>
                                          <option value="">BRL</option>
                                      </select>
                                  </div>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <!-- .form-group -->
                        <div class="form-group form-group--remittance">
                            <label for="">Receive:</label>

                            <div class="input-group">
                                  <input type="text" class="form-control form-control--noBorder" id="" placeholder="0.00" value="3.370">
                                  <div class="input-group-addon">
                                      <select id="" name="">
                                          <option value="">BRL</option>
                                          <option value="">USD</option>
                                      </select>
                                  </div>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <p><em>VeloxTransfer</em> charges a fee of <strong>$10.00</strong> and you get a estimated exchange rate of <strong>$1 > R$3.37</strong></p>

                        <button class="btn btn-success btn-block">TRANSFER NOW</button>
                    </div>
                    <!-- /.well -->

                    <p class="lead">
                        You'll save <strong>$28.87</strong> vs your bank.
                        <br />
                        Estimated arrival by <strong>Tuesday, August 25</strong>
                    </p>

                </div>
                <!-- /.col -->

                <!-- .col -->
                <div class="col-md-7">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#bank-transfer" aria-controls="bank-transfer" role="tab" data-toggle="tab">
                                Bank transfer
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#credit-card" aria-controls="credit-card" role="tab" data-toggle="tab">
                                Credit card
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#deposit" aria-controls="deposit" role="tab" data-toggle="tab">
                                Deposit
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="bank-transfer">
                            <form action="">
                                <legend>Your details</legend>

                                <!-- .row -->
                                <div class="row">
                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Full Name:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Email:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Account type:</label>
                                            <!-- .form-group -->
                                            <div class="form-group">
                                                <label class="radio-inline">
                                                  <input type="radio" id="inlineCheckbox1" value="option1"> Checking
                                                </label>

                                                <label class="radio-inline">
                                                  <input type="radio" id="inlineCheckbox1" value="option1"> Savings
                                                </label>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Bank name:</label>
                                            <select id="" name="" class="form-control">
                                                <option value="">Banco Itaú S. A.</option>
                                                <option value="">Banco do Brasil.</option>
                                                <option value="">Bradesco</option>
                                                <option value="">Caixa Economica Federal</option>
                                                <option value="">Santander</option>
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Branch Code:</label>

                                            <!-- .row -->
                                            <div class="row">
                                                <!-- .col -->
                                                <div class="col-md-4">
                                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                                </div>
                                                <!-- /.col -->

                                                <!-- .col -->
                                                <div class="col-md-8">
                                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Tax Registration Number (CPF):</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <br />

                                <legend>Recipient details or <span class="text-success">Recipient specify the details</span></legend>

                                <!-- .row -->
                                <div class="row">
                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Full Name:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Email:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Account type:</label>
                                            <!-- .form-group -->
                                            <div class="form-group">
                                                <label class="radio-inline">
                                                  <input type="radio" id="inlineCheckbox1" value="option1"> Checking
                                                </label>

                                                <label class="radio-inline">
                                                  <input type="radio" id="inlineCheckbox1" value="option1"> Savings
                                                </label>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Bank name:</label>
                                            <select id="" name="" class="form-control">
                                                <option value="">Banco Itaú S. A.</option>
                                                <option value="">Banco do Brasil.</option>
                                                <option value="">Bradesco</option>
                                                <option value="">Caixa Economica Federal</option>
                                                <option value="">Santander</option>
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Branch Code:</label>

                                            <!-- .row -->
                                            <div class="row">
                                                <!-- .col -->
                                                <div class="col-md-4">
                                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                                </div>
                                                <!-- /.col -->

                                                <!-- .col -->
                                                <div class="col-md-8">
                                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Tax Registration Number (CPF):</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <button class="btn btn-success btn-block">COMPLETE TRANSFER</button>

                                <br />

                                <button class="btn btn-default btn-block">Cancel</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="credit-card">
                            <form action="">
                                <legend>
                                    Your details
                                    <img src="assets/img/cards.png" alt="">
                                </legend>

                                <!-- .row -->
                                <div class="row">
                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Card number:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Name as printed:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Expired date:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-xs-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">CVC/CVV:</label>
                                            <!-- .row -->
                                            <div class="row">
                                                <!-- .col -->
                                                <div class="col-xs-8">
                                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                                </div>
                                                <!-- /.col -->

                                                <!-- .col -->
                                                <div class="col-xs-4">
                                                    <img src="assets/img/cvv.png" alt="">
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <br />

                                <legend>Recipient details</legend>

                                <!-- .row -->
                                <div class="row">
                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Full Name:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Email:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Account type:</label>
                                            <!-- .form-group -->
                                            <div class="form-group">
                                                <label class="radio-inline">
                                                  <input type="radio" id="inlineCheckbox1" value="option1"> Checking
                                                </label>

                                                <label class="radio-inline">
                                                  <input type="radio" id="inlineCheckbox1" value="option1"> Savings
                                                </label>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Bank name:</label>
                                            <select id="" name="" class="form-control">
                                                <option value="">Banco Itaú S. A.</option>
                                                <option value="">Banco do Brasil.</option>
                                                <option value="">Bradesco</option>
                                                <option value="">Caixa Economica Federal</option>
                                                <option value="">Santander</option>
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Branch Code:</label>

                                            <!-- .row -->
                                            <div class="row">
                                                <!-- .col -->
                                                <div class="col-md-4">
                                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                                </div>
                                                <!-- /.col -->

                                                <!-- .col -->
                                                <div class="col-md-8">
                                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Tax Registration Number (CPF):</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <button class="btn btn-success btn-block">COMPLETE TRANSFER</button>

                                <br />

                                <button class="btn btn-default btn-block">Cancel</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="deposit">
                            <form action="">
                                <legend>Your details</legend>

                                <!-- .row -->
                                <div class="row">
                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Your address:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Zip Code:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">City:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">State/Province:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <br />

                                <legend>Recipient details or <span class="text-success">Recipient specify the details</span></legend>

                                <!-- .row -->
                                <div class="row">
                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Full Name:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Email:</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Account type:</label>
                                            <!-- .form-group -->
                                            <div class="form-group">
                                                <label class="radio-inline">
                                                  <input type="radio" id="inlineCheckbox1" value="option1"> Checking
                                                </label>

                                                <label class="radio-inline">
                                                  <input type="radio" id="inlineCheckbox1" value="option1"> Savings
                                                </label>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Bank name:</label>
                                            <select id="" name="" class="form-control">
                                                <option value="">Banco Itaú S. A.</option>
                                                <option value="">Banco do Brasil.</option>
                                                <option value="">Bradesco</option>
                                                <option value="">Caixa Economica Federal</option>
                                                <option value="">Santander</option>
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Branch Code:</label>

                                            <!-- .row -->
                                            <div class="row">
                                                <!-- .col -->
                                                <div class="col-md-4">
                                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                                </div>
                                                <!-- /.col -->

                                                <!-- .col -->
                                                <div class="col-md-8">
                                                    <input class="form-control" name="" id="" type="text" placeholder="">
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                    <!-- .col -->
                                    <div class="col-md-6">
                                        <!-- .form-group -->
                                        <div class="form-group">
                                            <label for="">Tax Registration Number (CPF):</label>
                                            <input class="form-control" name="" id="" type="text" placeholder="">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <br />

                                <legend>Our agencies close to you</legend>

                                <div class="text-center">
                                    <img class="img-responsive" src="assets/img/map.png" alt="">
                                </div>
                                <br>

                                <legend>Upload you deposit receipt</legend>

                                <div class="form-group">
                                    <input type="file" id="exampleInputFile">
                                </div>

                                <p class="lead">This is your receipt:</p>
                                <div class="text-center">
                                    <img class="img-responsive" src="assets/img/comprovante.png" alt="">
                                </div>
                                <br>

                                <button class="btn btn-success btn-block">
                                    UPLOAD RECEIPT AND COMPLETE TRANSFER
                                </button>

                                <br />

                                <button class="btn btn-default btn-block">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.main -->

<%- partial("_partials/footer") %>
