<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400italic,700' rel='stylesheet' type='text/css'>
    <link media="all" rel="stylesheet" href="assets/css/main.css" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">
            <img src="assets/img/logo.png" alt="" />
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/how-it-works.html">How it works?</a></li>
            <li><a href="/my-payments.html">Transfers</a></li>
            <li><a href="/my-recipients.html">Recipients</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="glyphicon glyphicon-user"></i>
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/my-profile.html">My Account</a></li>
                <li><a href="/index.html">Logout</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img src="assets/img/flags/usa.png" alt="" />
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  <li>
                      <a href="#">
                          <img src="assets/img/flags/usa.png" alt="" /> EN
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="assets/img/flags/br.png" alt="" /> PT-BR
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="assets/img/flags/ven.png" alt="" /> VEN
                      </a>
                  </li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
