<!-- .well -->
<div class="well">
    <!-- .form-group -->
    <div class="form-group form-group--remittance">
        <label for="">You send:</label>

        <div class="input-group">
              <input type="text" class="form-control form-control--noBorder" id="" placeholder="0.00" value="1.000">
              <div class="input-group-addon">
                  <select id="" name="">
                      <option value="">USD</option>
                      <option value="">BRL</option>
                  </select>
              </div>
        </div>
    </div>
    <!-- /.form-group -->

    <!-- .form-group -->
    <div class="form-group form-group--remittance">
        <label for="">Receive:</label>

        <div class="input-group">
              <input type="text" class="form-control form-control--noBorder" id="" placeholder="0.00" value="3.370">
              <div class="input-group-addon">
                  <select id="" name="">
                      <option value="">BRL</option>
                      <option value="">USD</option>
                  </select>
              </div>
        </div>
    </div>
    <!-- /.form-group -->

    <button class="btn btn-success btn-block">TRANSFER NOW</button>
</div>
<!-- /.well -->

<!-- .table -->
<table class="table">
    <thead>
        <tr>
            <th>Recent recipients</th>
            <th class="text-right">
                <a href="">Add new</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspa="2">No saved recipients yet</td>
        </tr>
        <tr>
            <td>Al Gore</td>
            <td class="text-right">
                <a href="">View recipt</a>
            </td>
        </tr>
        <tr>
            <td>Al Gore</td>
            <td class="text-right">
                <a href="">View recipt</a>
            </td>
        </tr>
    </tbody>
</table>
<!-- /.table -->

<!-- .well -->
<div class="well well--invite text-center">
    <h3>EARN $50 BY INVITING FRIENDS</h3>
    <p>Treat your friends with a fee transfer up to $3,000.<br /> For every three friends who use their transfer we give you $50 as thanks for you help.</p>

    <a href="" class="btn btn-success btn-block">INVITE FRIENDS</a>
</div>
<!-- /.well -->
